.red-divider {
  width: 8rem;
  height: 5px;
  background-color: #dc2626;
  margin-bottom: 2rem;
}

.secondary-red-divider {
  width: 8rem;
  height: 3px;
  background-color: #b91c1c; 
  margin: 1rem auto 2rem auto; 
}

